[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "bigGP"]
	path = bigGP
	url = https://github.com/cran/bigGP
	shallow = true
	registered = true
[submodule "climextRemes"]
	path = climextRemes
	url = https://bitbucket.org/lbl-cascade/climextremes-dev
	shallow = true
	subdir = climextRemes
	registered = true
[submodule "nimble"]
	path = nimble
	url = https://github.com/cran/nimble
	shallow = true
	registered = true
[submodule "nimbleSMC"]
	path = nimbleSMC
	url = https://github.com/cran/nimbleSMC
	shallow = true
	registered = true
