[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bigGP"]
	path = bigGP
	url = https://github.com/cran/bigGP
[submodule "climextRemes"]
	path = climextRemes
	url = https://bitbucket.org/lbl-cascade/climextremes-dev
	subdir = climextRemes
