[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bigGP"]
	path = bigGP
	url = https://github.com/paciorek/biggp
	subdir = bigGP
[submodule "climextRemes"]
	path = climextRemes
	url = https://bitbucket.org/lbl-cascade/climextremes-dev
	subdir = climextRemes
[submodule "nimbleQuad"]
	path = nimbleQuad
	url = https://github.com/cran/nimbleQuad
